<script setup lang="ts">
import * as THREE from 'three'
// 导入轨道控制器
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls'
const scene = new THREE.Scene()
// 2、创建相机
const camera = new THREE.PerspectiveCamera(
  75,
  window.innerWidth / window.innerHeight,
  0.1,
  1000
)

// 监听画面变化，更新渲染画面
window.addEventListener('resize', () => {
  // 更新摄像头
  camera.aspect = window.innerWidth / window.innerHeight
  // 更新摄像机的投影矩阵
  camera.updateProjectionMatrix()
  // 更新渲染器
  renderer.setSize(window.innerWidth, window.innerHeight)
  // 设置渲染器像素比
  renderer.setPixelRatio(window.devicePixelRatio)
})

// 添加坐标辅助器
// const axesHelper = new THREE.AxesHelper(5)
// scene.add(axesHelper)

// 设置相机位置
camera.position.set(3, 0, 10)

// 添加物体
// 创建几何体
// const cubeGeometry = new THREE.BoxGeometry(1, 1, 1)

// // 根据几何体和材质创建物体
// const cube = new THREE.Mesh(cubeGeometry, cubeMaterial)
// // 将几何体添加到场景中
// scene.add(cube)

// 27 个方块 x,y,z
const cubeArr: number[][] = [
  // 中心点
  [0, 0, 0],
  // 右边
  [1, 0, 1],
  [1, 1, 1],
  [1, -1, 1],
  [1, 0, 0],
  [1, 1, 0],
  [1, -1, 0],
  [1, 0, -1],
  [1, 1, -1],
  [1, -1, -1],
  // 中间
  [0, 1, -1],
  [0, 1, 0],
  [0, 1, 1],
  [0, 0, 1],
  [0, 0, -1],
  [0, -1, -1],
  [0, -1, 0],
  [0, -1, 1],
  // 左边
  [-1, 0, 1],
  [-1, 1, 1],
  [-1, -1, 1],
  [-1, 0, 0],
  [-1, 1, 0],
  [-1, -1, 0],
  [-1, 0, -1],
  [-1, 1, -1],
  [-1, -1, -1]
]
const gap = 0.05
const colors: number[] = [
  0xce5a67, 0x4f6f52, 0x0174be, 0xff5b22, 0xb15eff, 0xd2de32
]
// 渲染生成魔方
const initMoFang = () => {
  cubeArr.forEach((e) => {
    const cubeGeometry = new THREE.BoxGeometry(1, 1, 1)
    const baseCubeMaterial = new THREE.MeshBasicMaterial({
      color: 0xeeeeee
    })
    const mts: THREE.MeshBasicMaterial[] = new Array(6).fill(baseCubeMaterial)
    if (e[0] === 0 && e[1] === 0 && e[2] === 0) {
      console.log('原点渲染')
    } else {
      const x = Math.abs(e[0]) === 1 ? e[0] + gap * e[0] : e[0]
      const y = Math.abs(e[1]) === 1 ? e[1] + gap * e[1] : e[1]
      const z = Math.abs(e[2]) === 1 ? e[2] + gap * e[2] : e[2]

      // 区分6个面 n 为 (0, 1, -1) 原点不设置颜色
      /**
       * 前 x = n, y= n, z = 1
       * 后 x = n, y= n, z = -1
       * 左 x = -1, y= n, z = n
       * 右 x = 1, y= n, z = n
       * 上 x = n, y= 1, z = n
       * 下 x = n, y= -1, z = n
       */
      // 前 index = 4
      if (z > 1) {
        mts[4] = new THREE.MeshBasicMaterial({
          color: colors[0]
        })
      }
      // 后 index = 5
      if (z < -1) {
        mts[5] = new THREE.MeshBasicMaterial({
          color: colors[1]
        })
      }
      // 左 index = 1
      if (x < -1) {
        mts[1] = new THREE.MeshBasicMaterial({
          color: colors[2]
        })
      }
      // 右 index = 0
      if (x > 1) {
        mts[0] = new THREE.MeshBasicMaterial({
          color: colors[3]
        })
      }
      // 上 index 2
      if (y > 1) {
        mts[2] = new THREE.MeshBasicMaterial({
          color: colors[4]
        })
      }
      // 上 index 3
      if (y < -1) {
        mts[3] = new THREE.MeshBasicMaterial({
          color: colors[5]
        })
      }
      const cube = new THREE.Mesh(cubeGeometry, mts)
      cube.position.set(x, y, z)
      // 新增线材质
      const edges = new THREE.EdgesGeometry(cubeGeometry)
      const edgesMaterial = new THREE.LineBasicMaterial({
        color: 0x666666
      })
      // 给正方体添加线材质
      const line = new THREE.LineSegments(edges, edgesMaterial)
      cube.add(line)
      // 画布新增正方体
      scene.add(cube)
    }
  })
}
initMoFang()

// 初始化渲染器
const renderer = new THREE.WebGLRenderer()
// 设置渲染的尺寸大小
renderer.setSize(window.innerWidth, window.innerHeight)
// console.log(renderer);
// 将webgl渲染的canvas内容添加到body
document.body.appendChild(renderer.domElement)

// 使用渲染器，通过相机将场景渲染进来
renderer.render(scene, camera)

// 创建轨道控制器
const controls = new OrbitControls(camera, renderer.domElement)
// 设置阻尼

function render() {
  //如果后期需要控制器带有阻尼效果，或者自动旋转等效果，就需要加入controls.update()
  controls.update()
  renderer.render(scene, camera)
  //   渲染下一帧的时候就会调用render函数
  requestAnimationFrame(render)
}

render()
</script>

<template></template>

<style scoped>
#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
</style>
